.header{
  background: #b9b9b9;
  color: white;
  padding: 0px;
  display: grid;
  grid-template-columns: 2000px 130px 150px;
  font-size: 22px;
}

.titulo{
  background: #b9b9b9;
  color: white;
  padding: 2px;
  display: grid;
  font-size: 24px;
}

.router-outlet{
  background-color: transparent;
  border-color: transparent;
  color: white;
  padding: 0px;
  display: grid;
  font-size: 20px;
}

.span.white-text.flow-text{
  background-color: transparent;
  border-color: transparent;
  color: white;
  padding: 0px;
  display: grid;
  font-size: 20px;
}
