<div class = "header">
  <div class = "titulo">
    <h3>{{ titulo }}</h3>
  </div>
  <div class="col s12 m6">
    <a routerLink="home">
      <div class="card-panel amber accent-4 center my-card-button">
        <span class="white-text flow-text"> Cadastro </span>
      </div>
    </a>
  </div>
  <div class="col s12 m6">
    <a routerLink="contato">
      <div class="card-panel amber accent-4 center my-card-button">
        <span class="white-text flow-text"> Contato </span>
      </div>
    </a>
  </div>
</div>



