.header{
  background: #707070;
  color: white;
  padding: 0px;
  display: grid;
  grid-template-columns: 1950px 155px 180px 130px;
  font-size: 22px;
}

.titulo{
  background: #707070;
  color: white;
  padding: 25px;
  display: grid;
  font-size: 26px;
}

.a{
  background-color: transparent;
  border-color: transparent;
  color: white;
  text-decoration: none;
  padding: 0px;
  display: grid;
  font-size: 24px;
}

.routerLink{
  background-color: transparent;
  border-color: transparent;
  color: white;
  text-decoration: none;
  padding: 0px;
  display: grid;
  font-size: 24px;
}

.span{
  background-color: transparent;
  border-color: transparent;
  color: white;
  text-decoration: none;
  padding: 0px;
  display: grid;
  font-size: 24px;
}

.white-text{
  background-color: transparent;
  border-color: transparent;
  color: white;
  text-decoration: none;
  padding: 0px;
  display: grid;
  font-size: 24px;
}

.white-text:link{
  background-color: transparent;
  border-color: transparent;
  color: white;
  text-decoration: none;
  padding: 0px;
  display: grid;
  font-size: 24px;
}

.white-text:hover{
  background-color: transparent;
  border-color: transparent;
  color: white;
  text-decoration: none;
  padding: 0px;
  display: grid;
  font-size: 24px;
}
