<!-- <div class = "main">

  <h1>A importância da atividade física na promoção da saúde</h1><br><br>

  <h3>As atividades físicas geram uma grande quantidade de benefícios para o nosso corpo e também para nossa mente. É por isso que a prática dessas atividades é tão recomendada por todos os profissionais de saúde. A seguir, listaremos alguns dos benefícios já reconhecidos a respeito da importância das atividades físicas:</h3><br>

  <h3>- A atividade física previne o desenvolvimento de doenças crônicas, como hipertensão e diabetes.</h3>
  <h3>- As atividades físicas controlam os níveis de colesterol.</h3>
  <h3>- A atividade física pode ser uma importante aliada no tratamento da depressão e ansiedade.</h3>
  <h3>- A atividade física melhora o condicionamento muscular e também cardiorrespiratório.</h3>
  <h3>- A atividade física provoca uma série de mudanças no organismo, tais como o ganho de massa muscular, que está diretamente relacionado com a melhora da autoestima.</h3>
  <h3>- A atividade física é importante para o controle de peso.</h3>
  <h3>- Atividade física melhora dores e diminui a incapacidade funcional.</h3>
  <h3>- A prática de atividades físicas melhora a qualidade do sono.</h3>
  <h3>- As atividades físicas melhoram o desempenho cognitivo.</h3>
  <h3>- A prática de atividades físicas reduz o estresse e aumenta a sensação de bem-estar."</h3>
  <h3>- "A atividade física é importante no processo de envelhecimento, uma vez que um idoso ativo apresenta mais autonomia para realizar as atividades do seu dia a dia. Além disso, idosos que praticam atividades físicas apresentam menos riscos de sofrerem quedas, as quais podem ser graves em certas idades.</h3>
  <h3>- A atividade pode melhorar o convívio social.</h3>
  <h3>- A atividade física dá mais disposição para a realização das atividades diárias."</h3><br><br><br><br>

</div> -->

<div class = "footer">
  <div>
    <h2>DESENVOLVIMENTO</h2>
  </div>
  <div>
    <p>Este site foi desenvolvido utilizando o Angular: {{ url }}</p><br>
  </div>
  <div>
    <h2>OBJETIVO</h2>
  </div>
  <div>
    <p>Este site tem por objetivo ajudar um atleta iniciante a controlar os seus treinos de atividade física e também sua evolução.</p>
  </div>
</div>

<div>
  <div class = "autor">
    <p>Gustavo Adolfo Tavares Barbosa | gustavoatbarbosa@gmail.com | 41996015300</p>
  </div>
</div>
