/* lista-pessoas.component.css */

/* Estilo para o container da lista de pessoas */
.list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para a tabela de pessoas cadastradas */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}

/* Estilo para a mensagem quando não há pessoas cadastradas */
p {
  text-align: center;
  margin-top: 20px;
}

/* Estilo para o botão Limpar lista */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #b02a37;
}
