<div class = "main">

  <h1>A importância da atividade física na promoção da saúde</h1>

  <h3>As atividades físicas geram uma grande quantidade de benefícios para o nosso corpo e também para nossa mente. É por isso que a prática dessas atividades é tão recomendada por todos os profissionais de saúde. A seguir, listaremos alguns dos benefícios já reconhecidos a respeito da importância das atividades físicas:</h3>

  <h5>- A atividade física previne o desenvolvimento de doenças crônicas, como hipertensão e diabetes.</h5>
  <h5>- As atividades físicas controlam os níveis de colesterol.</h5>
  <h5>- A atividade física pode ser uma importante aliada no tratamento da depressão e ansiedade.</h5>
  <h5>- A atividade física melhora o condicionamento muscular e também cardiorrespiratório.</h5>
  <h5>- A atividade física provoca uma série de mudanças no organismo, tais como o ganho de massa muscular, que está diretamente relacionado com a melhora da autoestima.</h5>
  <h5>- A atividade física é importante para o controle de peso.</h5>
  <h5>- Atividade física melhora dores e diminui a incapacidade funcional.</h5>
  <h5>- A prática de atividades físicas melhora a qualidade do sono.</h5>
  <h5>- As atividades físicas melhoram o desempenho cognitivo.</h5>
  <h5>- A prática de atividades físicas reduz o estresse e aumenta a sensação de bem-estar."</h5>
  <h5>- "A atividade física é importante no processo de envelhecimento, uma vez que um idoso ativo apresenta mais autonomia para realizar as atividades do seu dia a dia. Além disso, idosos que praticam atividades físicas apresentam menos riscos de sofrerem quedas, as quais podem ser graves em certas idades.</h5>
  <h5>- A atividade pode melhorar o convívio social.</h5>
  <h5>- A atividade física dá mais disposição para a realização das atividades diárias."</h5>

</div>
