<div class="form-container">
  <input type="text" [(ngModel)]="novoTreino.tipo" placeholder="Tipo"><br><br>
  <input type="text" [(ngModel)]="novoTreino.distancia" placeholder="Distância"><br><br>
  <input type="text" [(ngModel)]="novoTreino.tempo" placeholder="Tempo"><br><br>
  <button (click)="adicionarTreino()" [disabled]="!isCamposPreenchidos()">Adicionar Treino</button><br><br>
  <button (click)="limparCampos()">Limpar Campos</button><br><br>
  <h4>Peso</h4>
  <input type="number" [(ngModel)]="novoTreino.peso" placeholder="Peso (kg)">
  <h4>Altura</h4>
  <input type="number" [(ngModel)]="novoTreino.altura" placeholder="Altura (cm)"><br><br>
  <button (click)="calcularIMC()">Calcular IMC</button>
</div>

<ul *ngIf="treinos.length > 0">
  <li *ngFor="let treino of treinos">
    <strong>Tipo:</strong> {{ treino.tipo }}<br>
    <strong>Distância:</strong> {{ treino.distancia }}<br>
    <strong>Tempo:</strong> {{ treino.tempo }}<br><br>
  </li>
</ul>

<div *ngIf="imcResultado">
  <h3>IMC: {{ imcResultado }}</h3>
</div>

<button *ngIf="treinos.length > 0" (click)="limparLista()">Limpar lista</button>
