<div class="form-container">
  <input type="text" [(ngModel)]="novaPessoa.tipo" placeholder="Tipo"><br><br>
  <input type="text" [(ngModel)]="novaPessoa.distancia" placeholder="Distância"><br><br>
  <input type="text" [(ngModel)]="novaPessoa.tempo" placeholder="Tempo"><br><br>
  <button (click)="adicionarPessoa()" [disabled]="!isCamposPreenchidos()">Adicionar Treino</button><br><br><br>
  <button (click)="limparCampos()">Limpar Campos</button><br><br>
  <h4>Peso</h4>
  <input type="number" [(ngModel)]="novaPessoa.peso" placeholder="Peso (kg)">
  <h4>Altura</h4>
  <input type="number" [(ngModel)]="novaPessoa.altura" placeholder="Altura (cm)"><br><br>
  <button (click)="calcularIMC()">Calcular IMC</button>
</div>

<ul *ngIf="pessoas.length > 0">
  <li *ngFor="let pessoa of pessoas">
    <strong>Tipo:</strong> {{ pessoa.tipo }}<br>
    <strong>Distância:</strong> {{ pessoa.distancia }}<br>
    <strong>Tempo:</strong> {{ pessoa.tempo }}<br><br>
  </li>
</ul>

<div *ngIf="imcResultado">
  <h3>IMC: {{ imcResultado }}</h3>
</div>

<button *ngIf="pessoas.length > 0" (click)="limparLista()">Limpar lista</button>
