<div class = "formulario">

    <form action="#" method="post" enctype="multipart/form-data"
    (ngSubmit)="salvarNome()">

    <div class = "informacoesbasicas">
      <p> Informações Básicas</p>
      <p>_______________________________________________________________________________________________________________________________________________________________________________</p><br>
      <label for="nome">
        <span><i class="icon icon-nome"></i> Nome</span>
        <input type="text" name="nome" [(ngModel)]="nome"
        pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+(\s[a-zà-ú]*)?(\s[A-ZÀ-Ú][a-zà-ú]*)+"
        required="">
      </label>
      <label>
        <span><i class="icon icon-genero"></i> Gênero</span>
        <input type="text" name="genero"
        pattern="^(\s?[A-ZÀ-Ú][a-zà-ú]*)+"
        required="">
      </label>
      <label>
        <span><i class="icon icon-idade"></i> Idade</span>
        <input type="text" name="idade"
        pattern="^([0-9]{2}$)|([0-9]{3}$)"
        required="">
      </label>
      <label>
        <span><i class="icon icon-altura"></i> Altura</span>
        <input type="text" name="altura"
        pattern="^[0-9]{1}.[0-9]{2}$"
        required="">
      </label>
      <label>
        <span><i class="icon icon-peso"></i> Peso</span>
        <input type="text" name="peso"
        pattern="^([0-9]{2}$)|([0-9]{3}$)"
        required="">
      </label>
    </div>

    <div class = "planejamento">
      <p> Planejamento</p>
      <p>_______________________________________________________________________________________________________________________________________________________________________________</p><br>
      <label>
        <span><i class="icon icon-inicio"></i> Inicio</span>
        <input type="text" name="inicio"
        pattern="^((0[1-9]|[12]\d)\/(0[1-9]|1[0-2])|30\/(0[13-9]|1[0-2])|31\/(0[13578]|1[02]))\/\d{4}$"
        required="">
      </label>
      <label>
        <span><i class="icon icon-termino"></i> Termino</span>
        <input type="text" name="termino"
        pattern="^((0[1-9]|[12]\d)\/(0[1-9]|1[0-2])|30\/(0[13-9]|1[0-2])|31\/(0[13578]|1[02]))\/\d{4}$"
        required="">
      </label>
      <label>
        <span><i class="icon icon-objetivos"></i> Principais Objetivos</span>
        <input type="text" name="principais_objetivos"
        pattern="+([a-zA-Z0–9]+)>+([a-zA-Z0–9/ ])+([/])+([a-zA-Z0–9]+)>"
        required="">
      </label>
      <label>
        <span><i class="icon icon-meta"></i> Meta</span>
        <input type="text" name="meta"
        pattern="+([a-zA-Z0–9]+)>+([a-zA-Z0–9/ ])+([/])+([a-zA-Z0–9]+)>"
        required=""><br /><br /><br />
      </label>
    </div>

    <input type="hidden" name="acao" value="cancelar" />
    <button class="btn-cancelar" title="Cancelar"><b class="icon icon-paper-plane-o"> Cancelar</b></button><br /><br /><br />
    <input type="hidden" name="acao" value="salvar" />
    <button type="submit" class="btn-salvar" title="Salvar"><b class="icon icon-paper-plane-o"> Salvar</b></button>

  </form>

</div>
