<div class = "formulario">

    <form action="#" method="post" enctype="multipart/form-data">

    <div class = "informacoesbasicas">
      <p> Informações Básicas</p>
      <p>_______________________________________________________________________________________________________________________________________________________________________________</p><br><br>

      <label>
        <span><i class="icon icon-comment"></i> Nome</span>
        <input type="text" name="nome" required="">
      </label>
      <label>
        <span><i class="icon icon-comment"></i> Gênero</span>
        <input type="text" name="genero" required="">
      </label>
      <label>
        <span><i class="icon icon-comment"></i> Idade</span>
        <input type="text" name="idade" required="">
      </label>
      <label>
        <span><i class="icon icon-comment"></i> Altura</span>
        <input type="text" name="altura" required="">
      </label>
      <label>
        <span><i class="icon icon-comment"></i> Peso</span>
        <input type="text" name="peso" required="">
      </label>

    </div>

    <div class = "imc">

      <label>
        <span><i class="icon icon-comment"></i> IMC Atual</span>
        <input type="text" name="imc_atual" required="">
      </label>
      <label>
        <span><i class="icon icon-comment"></i> Classificação</span>
        <input type="text" name="classificacao" required="">
      </label>

    </div>

    <div class = "planejamento">

      <label>
        <span><i class="icon icon-comment"></i> Inicio</span>
        <input type="text" name="inicio" required="">
      </label>
      <label>
        <span><i class="icon icon-comment"></i> Termino</span>
        <input type="text" name="termino" required="">
      </label>
      <label>
        <span><i class="icon icon-comment"></i> Principais Objetivos</span>
        <input type="text" name="principais_objetivos" required="">
      </label>
      <label>
        <span><i class="icon icon-comment"></i> Meta</span>
        <input type="text" name="meta" required=""><br /><br /><br />
      </label>

    </div>

    <input type="hidden" name="acao" value="cancelar" />
    <button class="btn-cancelar" title="Cancelar"><b class="icon icon-paper-plane-o"> Cancelar</b></button><br /><br /><br />
    <input type="hidden" name="acao" value="salvar" />
    <button class="btn-salvar" title="Salvar"><b class="icon icon-paper-plane-o"> Salvar</b></button>

  </form>

</div>
